<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist not-done">

        <app-todo-list></app-todo-list>


        <input type="text" class="form-control add-todo" placeholder="Add todo">
        <button id="checkAll" class="btn btn-success">Mark all as done</button>

        <hr>

      </div>
    </div>
    <div class="col-md-6">
      <div class="todolist">
        <h1>Items Done</h1>
        <ul id="done-items" class="list-unstyled">
          <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

        </ul>
      </div>
    </div>
  </div>
</div>
